<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>252821665374-bdvdpgn98qnl5lhc5uk28h7hd99ql7dn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252821665374-bdvdpgn98qnl5lhc5uk28h7hd99ql7dn</string>
	<key>API_KEY</key>
	<string>AIzaSyBPtRMC7zx4Rqp_ylzKwBTUO0JnyUP0ZJA</string>
	<key>GCM_SENDER_ID</key>
	<string>252821665374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coxmso.pilatessandiego</string>
	<key>PROJECT_ID</key>
	<string>pilatessandiego-683c7</string>
	<key>STORAGE_BUCKET</key>
	<string>pilatessandiego-683c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252821665374:ios:dd02ddfdd158789b</string>
	<key>DATABASE_URL</key>
	<string>https://pilatessandiego-683c7.firebaseio.com</string>
</dict>
</plist>